<!DOCTYPE html>
<html lang="en">
<head>
  <title><%= yield(:title).presence || "JS.coach" %></title>
  <meta name="description" content="An opinionated catalog of open source JS packages">

  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="mask-icon" href="/favicon.svg" color="#fcc03b">
  <link rel="apple-touch-icon" href="/apple-touch-icon.png">

  <meta property="og:url" content="https://js.coach/">
  <meta property="og:site_name" content="JS.coach">
  <meta property="og:title" content="An opinionated catalog of open source JS packages">
  <meta property="og:description" content="Currently about React, Babel, Webpack, Browserify and PostCSS.">
  <meta property="og:image" content="https://js.coach/sharing-is-caring.png">

  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:site" content="@reactparts">
  <meta name="twitter:title" content="JS.coach — An opinionated catalog of open source JS packages">
  <meta name="twitter:description" content="Currently about React, Babel, Webpack, Browserify and PostCSS.">
  <meta name="twitter:image" content="https://js.coach/sharing-is-caring.png">

  <link rel="search" type="application/opensearchdescription+xml" href="/opensearch.xml" title="JS.coach">

  <%= stylesheet_link_tag 'base' %>
  <%= stylesheet_link_tag 'app' %>
</head>
<body>
  <%= yield %>

  <%= webpack_manifest_script %>
  <%= webpack_bundle_tag 'common' %>
  <%= webpack_bundle_tag 'app' %>

  <%= webpack_bundle_tag 'dev-client' if Rails.env.development? %>
</body>
</html>
